header {
  padding: 0.5rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: start;
  padding-left: 1rem;
}

.header-right {
  justify-content: end;
  padding-right: 1rem;
}

a {
  padding-left: 10rem;
}

.roles-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 5rem;
}

.role-icon {
  display: flex;
  padding: 0 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-basis: calc(100%/7);
}

@media screen and (max-width: 1200px) {
  a {
    padding-left: 6rem;
  }

  .roles-icons {
    align-items: center;
    padding: 4rem 0 3rem;
  }

  .role-icon {
    padding: 0 0.3rem;
  }

  .icon-container {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 768px) {
  a {
    padding-left: 4rem;
  }

  .roles-icons {
    align-items: center;
    padding: 4rem 0 3rem;
  }

  .role-icon {
    padding: 0 0.3rem;
  }

  .icon-container {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 560px) {
  a {
    padding-left: 2rem;
  }

  .icon-container {
    flex-basis: 50%;
  }

  .column-fourth {
    display: flex;
    padding: 1rem;
    width: 50%;
  }

  .left {
    justify-content: end;
  }

  .right {
    justify-content: start;
  }
}
